In [3]:
import pandas as pd
import numpy as np
import sklearn
import os
# загрузка данных
#data = pd.read_csv('train.csv')
os.chdir("C:/htdocs/Walmart")
data = pd.read_csv('input/train.csv')

In [4]:
data[data['VisitNumber']==8]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017
5,26,8,Friday,2006618783,2,PAINT AND ACCESSORIES,1017
6,26,8,Friday,2006613743,1,PAINT AND ACCESSORIES,1017
7,26,8,Friday,7004802737,1,PAINT AND ACCESSORIES,2802
8,26,8,Friday,2238495318,1,PAINT AND ACCESSORIES,4501
9,26,8,Friday,2238400200,-1,PAINT AND ACCESSORIES,3565
10,26,8,Friday,5200010239,1,DSD GROCERY,4606
11,26,8,Friday,88679300501,2,PAINT AND ACCESSORIES,3504
12,26,8,Friday,22006000000,1,MEAT - FRESH & FROZEN,6009
13,26,8,Friday,2236760452,1,PAINT AND ACCESSORIES,7
14,26,8,Friday,88679300501,-1,PAINT AND ACCESSORIES,3504
15,26,8,Friday,2238400200,2,PAINT AND ACCESSORIES,3565
16,26,8,Friday,3019294203,1,PAINT AND ACCESSORIES,2801
17,26,8,Friday,72450408840,1,PAINT AND ACCESSORIES,1028
18,26,8,Friday,25541500000,2,DAIRY,1305
19,26,8,Friday,2310010776,1,PETS AND SUPPLIES,3300
20,26,8,Friday,72450403700,2,PAINT AND ACCESSORIES,1018
21,26,8,Friday,7874204967,1,HOUSEHOLD CHEMICALS/SUPP,707
22,26,8,Friday,5114139038,1,PAINT AND ACCESSORIES,4415
23,26,8,Friday,5114197561,1,PAINT AND ACCESSORIES,4415
24,26,8,Friday,3270011053,3,PETS AND SUPPLIES,1001
25,26,8,Friday,NaN,1,NaN,NaN

In [5]:
data[data['VisitNumber']==8].groupby('DepartmentDescription')['ScanCount'].sum()

DepartmentDescription
DAIRY                        2
DSD GROCERY                  1
HOUSEHOLD CHEMICALS/SUPP     1
MEAT - FRESH & FROZEN        1
PAINT AND ACCESSORIES       18
PETS AND SUPPLIES            4
Name: ScanCount, dtype: int64

In [26]:
data.groupby(['VisitNumber', 'DepartmentDescription'])['ScanCount'].first().shape

(320957,)

In [6]:
# формирование разреженных матриц
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
FinelineNumber = le1.fit_transform(data['FinelineNumber'].fillna(-1))
DepartmentDescription = le2.fit_transform(data['DepartmentDescription'].fillna('n'))

In [7]:
DepartmentDescription.shape

(647054,)

In [8]:
from scipy.sparse import csc_matrix
S1 = csc_matrix((data.ScanCount, (data.VisitNumber, DepartmentDescription))).astype(np.float64)
S2 = csc_matrix((data.ScanCount, (data.VisitNumber, FinelineNumber))).astype(np.float64)

In [18]:
data.VisitNumber

0              5
1              7
2              7
3              8
4              8
5              8
6              8
7              8
8              8
9              8
10             8
11             8
12             8
13             8
14             8
15             8
16             8
17             8
18             8
19             8
20             8
21             8
22             8
23             8
24             8
25             8
26             9
27             9
28             9
29            10
           ...
647024    191345
647025    191345
647026    191345
647027    191345
647028    191345
647029    191345
647030    191345
647031    191345
647032    191345
647033    191345
647034    191345
647035    191346
647036    191346
647037    191346
647038    191346
647039    191346
647040    191346
647041    191346
647042    191346
647043    191346
647044    191346
647045    191346
647046    191346
647047    191346
647048    191346
647049    191346
647050    191346
647051    191346
647052    191347
647053    191347
Name: VisitNumber, dtype: int64

In [25]:
len(np.unique(data.VisitNumber))

95674

In [12]:
S1.shape

(191348, 69)

In [10]:
S1[8,:].toarray()

array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   2.,   1.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,  18.,   0.,   4.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   1.]])

In [ ]:
 
 
# вектор ответов и индексы обучения
y = data.groupby('VisitNumber')['TripType'].first()
indextrain = y.index.values
y = y.values
 
encodery = LabelEncoder()
y = encodery.fit_transform(y)
 
# контроль по фолдам - логистическая регрессия
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from scipy.sparse import hstack
 
print (cross_val_score(LogisticRegression(), hstack([S1[indextrain,:], S2[indextrain,:]]), y, cv=StratifiedKFold(y, n_folds=2), scoring='log_loss'))